#ar-button{
  background-image: url(./images/ic_view_in_ar_new_googblue_48dp.png);
    left: 100%;
    bottom: 2%;
}

model-viewer {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  height:80%;
	width:80%;
}
